// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.user-status {
  line-height: 20px;
  padding: 15px 0;
  a {
    color: #777;
    text-decoration: none;
  }
}

.container_for_login_wrapper{
  display: flex;
  justify-content: center;
  
  .login_signup_wrapper {
    display: inline-block;  
  }
}